/* Wartosci wspolne*/

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: rgb(255 255 255);
}

#calosc {
}

#zawartosc {
    width:1200px;
    margin: 0 auto;
}

#warto , #grafiki {
    padding-top: 3%;
}

h1, h2, h3, h4 {
    color: #d74b4b;
    font-family: Calibri Bold, sans-serif;
    font-size: 36px;
}

h3,h4 {
    text-align: center;
}

h1 {
    text-align: left;
}

h2 {
    text-align: right;
}

h3 {
    font-size: 46px;
}

p {
    font-family: "Calibri Light", serif;
    color: #878888;
    font-size: 18px;
}

/* ---------------------------------------- */
/* Top strony */

/* ---------------------------------------- */
/* Button */

#btnScrollToTop {
    position: relative;
    left: 74%;
    top: -140px;
    width: 260px;
    height: 65px;
    background-color: rgba(96, 118, 138, 0.85);
    border: 2px #ffffff;
}

.zapraszamy_kontakt {
    color: #ffffff;
    font-size: 20px;
}

#btnScrollToTop:hover {
    background-color: rgb(96, 118, 138);
}

/* ---------------------------------------- */
/* Kim jestesmy & Nasza misja */

#kim_jestesmy, #nasza_misja {
    padding: 0 40px;
}

.opis1, .opis2 {
    line-height: 30px;
    margin-bottom: 5%;
}

.opis1 {
    text-align: left;
}

.opis2 {
    text-align: right;
}

/* ---------------------------------------- */
/* Warto & Grafiki */



.info1, .info2, .info3 {
    width: 23%;
    padding: 0 5%;
}

/* ---------------------------------------- */

/* Kontakt*/


#kontakt {
    padding-top: 50px;
    padding-bottom: 50px;
}

h4 {
    padding-bottom: 1%;
    font-size: 42px;
}

.dane_kontaktowe {
    color: #475f77;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.media {
    margin-left: 44%;

}

.img_insta_social {
    margin-right: 13px;
    width: 17%;
    height: auto;
}

.img_fb_social {
    margin-right: 13px;
    width: 18%;
}

.pictureinsta {
    max-width: 398px;
    padding-top: 1%;
}

.picturefb {
    max-width: 398px;
}

.insta, .fb {
    color: #475f77;
    font-weight: bold;
    font-size: 21px;
}

a.media_link {
    text-decoration: none;
    color: #323231;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------------------- */
/* Stopka*/

#kon_stopka {
    color: rgb(242 242 242);
    background-color: rgb(242 242 242);
    padding: 1% 0;
}

.stopka {
    padding-left: 30px;
    color: #475f77;
    font-weight: bold;
    font-size: 22px;
}

/* ---------------------------------------- */
