@media screen and (max-width: 768px) {

    /* Wartości wspólne */

    #zawartosc {
        width: 100%;
        margin: 0;
    }

    h1, h2, h3, h4 {
        font-size: 26px;
    }

    p {
        font-size: 16px;
    }

    /* ---------------------------------------- */
    /* Top strony */
    #top_grafika {
        width: 100%;
    }
    /* ---------------------------------------- */
    /* Button */
    #btnScrollToTop {
        display: none;
    }

    /* ---------------------------------------- */
    /* Kim jesteśmy & Nasza misja */

    #kim_jestesmy, #nasza_misja {
        padding-top: 10px;
    }

    .opis1, .opis2 {
        line-height: 25px;
        margin-bottom: 5%;
        text-align: justify;
    }

    /* ---------------------------------------- */
    /* Warto & Grafiki */

    .info1, .info2, .info3 {
        display: block;
        width: 40%;
        padding-top: 20px;
        margin: 0 auto;
    }

    /* ---------------------------------------- */
    /* Kontakt */

    .dane_kontaktowe {
        font-size: 21px;
    }

    .media {
        margin-left: 32%;
    }

    .img_insta_social {
        width: 11%;
        height: auto;
    }

    .img_fb_social {
        width: 13%;
        height: auto;
        margin-left: -3px;
    }

    /* ---------------------------------------- */
    /* Stopka */

    .stopka {
        font-size: 18px;
    }

    /* ---------------------------------------- */

}